:root {
  --theme-color: #C28565;
  --theme-color2: #AB6A49;
  --title-color: #0D0D0D;
  --body-color: #6E6E6E;
  --smoke-color: #F9F3F0;
  --smoke-color2: #E8CDBF;
  --smoke-color3: #F4E8E1;
  --black-color: #000000;
  --black-color2: #1b1b1b;
  --gray-color: #B2B2B2;
  --white-color: #ffffff;
  --light-color: #CDCDCD;
  --yellow-color: #FFB539;
  --success-color: #28a745;
  --error-color: #dc3545;
  --border-color: #E0E0E0
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tertiary-color);
}

a {
  text-decoration: none;
  color: var(--eighth-color);
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.container {
  padding: 0 10%;
}